:root {
    --bg-color: #f0f2f5;
    --container-bg-color: white;
    --text-color: #333;
    --button-bg-color: #007bff;
    --button-hover-bg-color: #0056b3;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

body.dark-mode {
    --bg-color: #333;
    --container-bg-color: #444;
    --text-color: #f0f2f5;
    --button-bg-color: #0056b3;
    --button-hover-bg-color: #007bff;
    --box-shadow-color: rgba(0, 0, 0, 0.4);
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
    background-color: var(--container-bg-color);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px var(--box-shadow-color);
    transition: background-color 0.3s, box-shadow 0.3s;
}

h1 {
    margin-bottom: 30px;
    color: var(--text-color);
    transition: color 0.3s;
}

#generate-btn {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: background-color 0.3s;
}

#generate-btn:hover {
    background-color: var(--button-hover-bg-color);
}

.lotto-numbers {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.lotto-number {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    transition: box-shadow 0.3s;
}

#theme-toggle-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000; /* Ensure it's above other content */
    transition: background-color 0.3s, color 0.3s;
}

#theme-toggle-btn:hover {
    background-color: var(--button-hover-bg-color);
}
